<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kittens | <%= item.name %></title>
  </head>
  <body>
    <img src="/images/<%= item.image %>" alt="<%= item.name %>" />

    <h1><%= item.name %></h1>
    <p>Age: <%= item.age %></p>
    <p><%= item.description %></p>
  </body>
</html>